<!DOCTYPE html>
<html>
<head>
    <title>FYNAT title</title>
</head>
<body>

<div class = "container">
    <div class = "col-md-8">
        <h1>Please enter your 3 favorite classes below</h1>
        <form method = "post">
            {%csrf_token %}
            {{ form.as_p}}
            <button type = "submit">Submit</button>
        </form>
        <h1> Your name is {{user.username}} and you are taking: <h1>
        <h2> {{ text }} </h2>
        <!--{% for post in posts %}
        <h1> {{ post.post }} </h1>
        <p> {{ post.date }} </p>
        {% endfor %}
    -->
        <h2> {{ text2 }} </h2>
        {% for post in posts %}
            <h1> {{ post.post }} </h1>
            <p> {{ post.date }} </p>
        {% endfor %}
        <h2> {{ text3 }} </h2>
        {% for post in posts %}
            <h1> {{ post.post }} </h1>
            <p> {{ post.date }} </p>
        {% endfor %}
    </div>
    <div class = "col-md-4">
        <h2> Your friends </h2>
        {% for user in users %}
            <a href = "{% url 'account:view_profile' %}">  <!-- reuse code by using same profile page that was setup for our own case, but call it using a different user object -->
                <h3>{{user.username}}</h3>
        {% endfor %}
    </div>
</body>
</html>



<!--{% if user.is_authenticated %}
        Hi {{user.username}}!
    {% endif %}
    {% for classes_info in classes_info %}
        <h1>{{classes_info.Name}}</h1>
        <p style="margin-left: 40px">{{classes_info.Name}} is a {{classes_info.Year}}</p>
        <p style="margin-left: 40px">{{classes_info.Name}} is taking {{classes_info.Classes}}</p>
    {% endfor %}
-->