<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1> Hi there {{user.username}}! Click on the profile button to view your profile</h1>
    <br>
    <h2> Please complete the questionnaire below so that we can get to know you better!</h2>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <br>
    <p><a href=/profile>profile</a></p>
    <p><a href = /accounts/logout>logout</a></p>
{% else %}
    <div class="container">
        <h1> Welcome to FYNAT! </h1>
        <p> What is FYNAT? FYNAT stands for find your niche at Tech. It's a way for students to connect with each other based on common interests and overall build a better community here at Tech.
    </div>
  <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
  <p> Don't have one, no worries feel free to <a href = "{% url 'signup' %}">sign up here</a> </p>
{% endif %}
{% endblock %}